{% extends 'main/base.html' %}
{% block title %}Home Page{% endblock %}
{% block body %}
<!--Posts -->
{% for item in get_files %}
<ul>
    <li><a href="{{ item.post.id.url }}" download>download</a>
    </li>
</ul>
{% endfor %}
{% for post in posts %}
<div class="container my-4 alert alert-success">
    <div class="card">
        <h5 class="card-header">By <a style="text-decoration:none; color:#ea4c88;" href="{% url 'profile' post.user.username %}">{{post.user}}</a></h5>
        <div class="card-body">
            <h5 class="card-title">{{post.title}}</h5>
            <p class="card-text">{{post.desc}}</p>

            {% if request.session.user %}
                <a href="{{MEDIA_URL}}{{post.file_field.url}}" class="btn btn-warning" target="_blank">View</a>
                <a href="{{MEDIA_URL}}{{post.file_field.url}}" download="" class="btn btn-info mx-4" >Download</a>
            {% else %}
                <a href="#">You Have To Login Before Download this File.</a>
            {% endif %}
        </div>
    </div>
</div>
{% endfor %}

{% endblock %}